<!--Leynielle Bacani - 301319355 - 10-03-2023-->
<!--About Page-->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <div class="banner">
      <img src="/images/logo.png" alt="Banner Logo" class="logo">
  </div>
</head>
<body>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
  </nav>

<section id="about">

    <h1><center>About Me</center></h1>
<center>
  <img src="/images/me.JPG" alt="Profile Image" width="500" height="700">
</center>
  <p><h1> <center>My name is Leynielle Bacani. I am currently a 2nd year Software Engineering student at Centennial College. I was born in the Philippines and moved here to Canada in 2016. My hobbies includes watching movies, trying new restaurants, and camping!</center> </h1> </p>
<center>
  <a href="/images/bacani_resume.pdf" target="_blank" class="btn">Download Resume</a>
</center>
</section>
