<!--Leynielle Bacani - 301319355 - 10-03-2023-->
<!--Home Page-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <div class="banner">
        <img src="/images/logo.png" alt="Banner Logo" class="logo">
    </div>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1> <center>My mission as a software developer is to create reliable and impactful solutions that improve people's lives. I am committed to ethical coding, continuous learning, and teamwork to make a positive difference through technology.</center></h1>
        <center> <a href="/about" class="btn">Learn More About Me!</a> </center>
    </section>
</body>
</html>
