<!--Leynielle Bacani - 301319355 - 10-03-2023-->
<!--Projcets Page-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <div class="banner">
        <img src="/images/logo.png" alt="Banner Logo" class="logo">
    </div>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

<section id="projects">
    <h1>Projects:</h1>
    <center>
    <!-- Project 1 -->
    <div class="project">
        <h1><center> Basic Bug Game </center></h1>
        <img src="/images/buggame.png" alt="Basic Bug Game" width="500" height="550">
        <p><center><h3>This basic bug game is the first game that I developed when I was in 1st year.</h3></center></p>
    </div>
    <!-- Project 2 -->
    <div class="Lofts Site">
        <h1><center> Loft Apartments Site </center></h1>
        <img src="/images/lofts.png" alt="Profile Image" width="700" height="550"
        <p><center><h3>This loft website is the first major project that I made as a developer.</h3></center> </p>
    </div>
    </center>
</section>
