<!--Leynielle Bacani - 301319355 - 10-03-2023-->
<!--Services Page-->

<head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <div class="banner">
        <img src="/images/logo.png" alt="Banner Logo" class="logo">
    </div>
</head>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <style>
        .gallery-container {
            display: flex;
            flex-wrap: wrap;
        }

        .gallery {
            margin: 5px;
            width: 180px;
        }

        .gallery:hover {
        }

        .gallery img {
            width: 100%;
            height: auto;
            border: none;
        }

        .desc {
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="gallery-container">
    <div class="gallery">
        <a target="_blank" href="/images/basicprog.png">
            <img src="/images/basicprog.png" alt="Basic Programming" width="800" height="600">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="/images/mobileapps.png">
            <img src="/images/mobileapps.png" alt="Game Development" width="800" height="600">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="/images/gamedev.png">
            <img src="/images/gamedev.png" alt="Mobile Apps" width="800" height="600">
        </a>
    </div>
</div>

<section id="services">
    <h2><center>Services:</center> </h2>
    <ul>
        <h1>
        <li>Basic Programming</li>
        <li>Web Development</li>
        <li>Mobile Apps</li>
        </h1>
    </ul>
</section>
